<!DOCTYPE html>
<html lang="zh-CN">
<head>
  <meta charset="utf-8">
  <title>上海益倍嘉信息技术有限公司</title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1">
  <meta name="renderer" content="webkit">
  <meta name="description" content="益倍嘉是一家专业的计算机软件开发及信息化解决方案提供商，我们围绕客户的需求持续创新，在金融、电信、交通(仓储物流)、电子商务、智慧城市、智慧健康等领域构筑了端到端的解决方案体系。">
  {{ STYLE }}
</head>
<body>
  {{ APP }}
  <script src="/static/client-vendor-bundle.js"></script>
  <script src="/static/client-bundle.js"></script>
</body>
</html>
