<template>
  <header id="header" class="clearfix">
    <nav>
      <div class="small-link">
        <a href="#" @click.prevent>官方微博</a>
        |
        <a href="#" @click.prevent>官方微信</a>
      </div>
      <div class="link clearfix">
        <nav-link
            v-for="link in links"
            :name="link.name"
            :en="link.en"
            :cn="link.cn"></nav-link>
      </div>
    </nav>
    <div class="logo">
      <img src="./logo.png" alt="EBJ"> <span>益倍嘉</span>
    </div>
  </header>
</template>

<script>
  import links from "./links.json";
  import NavLink from "./nav-link";

  export default {
    name: "app-header",
    data() {
      return {links};
    },
    components: {NavLink}
  };
</script>

<style lang="less">
  @line-color: #666;
  @height: 80px;
  @logo-width: 240px;
  @decoration-size: 30px;

  #header {
    .logo {
      position: relative;
      float: left;
      width: @logo-width;
      border-bottom: 1px solid @line-color;
      text-align: center;
      font-size: 28px;
      line-height: @height;
      img, span {
        vertical-align: middle;
      }
      img {
        height: 1em;
      }

      &::after {
        display: block;
        position: absolute;
        bottom: -1px;
        left: 100%;
        width: @decoration-size;
        height: 1px;
        background-color: @line-color;
        transform: skewY(-45deg) scaleY(sqrt(2));
        transform-origin: bottom left;
        content: "";
      }
    }

    nav {
      float: right;
      width: 100%;
      margin-left: -(@logo-width + @decoration-size);
      padding-left: (@logo-width + @decoration-size);
      &::before {
        display: block;
        width: 100%;
        height: 1px;
        background-color: @line-color;
        transform: translateY(@height - @decoration-size + 1);
        content: "";
      }

      .small-link {
        float: right;
        margin-top: 20px;
        margin-right: 50px;
        a {
          margin-left: 0.5em;
          margin-right: 0.5em;
        }
      }

      .link {
        position: absolute;
        top: 20px;
        right: 200px;
      }
    }
  }
</style>
