<template>
  <a href="#" class="nav-link" @click.prevent>
    <div class="image">
      <div class="animation-wrapper" ref="outer">
        <div class="outer-wrapper">
          <div class="outer"></div>
        </div>
      </div>
      <div class="animation-wrapper" ref="middle">
        <div class="middle-wrapper">
          <div class="middle"></div>
        </div>
      </div>
      <div class="inner"></div>
      <img :src="icon" :alt="name">
    </div>
    <div class="words">
      <div class="en">{{en}}</div>
      <div class="cn">{{cn}}</div>
    </div>
  </a>
</template>

<script>
  import about from "./about.png";
  import research from "./research.png";
  import join from "./join.png";

  export default {
    name: "header-nav-link",
    props: {
      name: {type: String, required: true},
      en: {type: String, required: true},
      cn: {type: String, required: true}
    },
    computed: {
      icon() {
        return {about, research, join}[this.name];
      }
    },
    methods: {
      async rotateOuter() {
        const random = Math.random() * 360;
        const outer = this.$refs.outer;
        const Velocity = await System.import("velocity-animate");
        await Velocity(outer, {rotateZ: "-1440deg"}, {duration: 0});
        await Velocity(
          outer,
          {rotateZ: `${random}deg`},
          {easing: "ease", duration: 5000}
        );
      },
      async rotateMiddle() {
        const random = Math.random() * 360;
        const middle = this.$refs.middle;
        const Velocity = await System.import("velocity-animate");
        await Velocity(middle, {rotateZ: "1080deg"}, {duration: 0});
        await Velocity(
          middle,
          {rotateZ: `${-random}deg`},
          {easing: "ease", duration: 5000}
        );
      }
    },
    mounted() {
      this.rotateOuter();
      this.rotateMiddle();
    }
  };
</script>

<style lang="less">
  #header .nav-link {
    position: relative;
    float: left;
    height: 90px;
    margin-left: 10px;
    margin-right: 10px;

    &::before {
      display: block;
      position: absolute;
      top: 45px;
      left: 45px;
      width: 40px;
      height: 1px;
      background-color: #666;
      transform: skewY(45deg);
      transform-origin: top left;
      content: "";
    }

    .image {
      position: relative;
      float: left;
      width: 90px;
      height: 90px;

      &::before {
        display: block;
        position: absolute;
        top: 5px;
        left: 5px;
        width: 80px;
        height: 80px;
        border-radius: 50%;
        background-color: black;
        content: "";
      }

      .animation-wrapper,
      .outer-wrapper, .middle-wrapper,
      .outer, .middle, .inner {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }
      .outer-wrapper {
        transform: scale(1.2);
      }
      .middle-wrapper {
        animation: inverse-rotate 4s linear infinite;
      }

      .outer, .middle, .inner {
        background-position: center;
        background-repeat: no-repeat;
      }
      .outer {
        background-image: url(outer.png);
        animation: rotate 2s linear infinite;
      }
      .middle {
        background-image: url(middle.png);
        transform: translate(-1px, 2px);
      }
      .inner {
        background-image: url(inner.png);
      }

      img {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }

    .words {
      position: relative;
      float: left;
      margin-left: -5px;
      padding-left: 25px;
      font-size: 12px;
      line-height: 1.2;
      transform: translateY(70px);
      &::before {
        display: block;
        position: absolute;
        top: 14px;
        left: 0;
        width: 20px;
        height: 1px;
        background-color: #666;
        content: "";
      }
    }
  }
</style>
