<template>
	<div class="department">
		<div class="planet">
			<div class="detail" v-show="expand">
				<div class="outer"></div>
				<div class="middle"></div>
				<div class="inner"></div>
				<div class="satellite-orbit">
					<div class="satellite-wrapper">
						<div class="satellite">
							<div class="title">{{name}}</div>
							<div class="cn-title">{{cnName}}</div>
						</div>
					</div>
				</div>
				<ul class="moon-list">
					<moon v-for="responsibility in responsibilities" :en-title="responsibility.enTitle" :cn-title="responsibility.cnTitle" :description="responsibility.description"></moon>
				</ul>
			</div>
			<span class="words" v-show="!expand"></span>
		</div>
	</div>
</template>

<script>
	import Moon from "./moon";

	export default {
		name: "department",
		props: {
			name: {
				type: String,
				required: true
			},
			cnName: {
				type: String,
				required: true
			},
			responsibilities: {
				type: Array,
				required: true
			},
			expand: {
				type: Boolean,
				required: true
			}
		},
		components: {
			Moon
		}
	};
</script>

<style lang="less">
	.department {
		width: 100%;
		height: 100%;
		.planet {
			width: 100%;
			height: 100%;
			background-size: 100%;
			.software & {
				background-image: url(software/planet.png);
			}
			.design & {
				background-image: url(design/planet.png);
			}
			.marketing & {
				background-image: url(marketing/planet.png);
			}
			.detail {
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
			}
			.outer,
			.middle,
			.middle::before,
			.inner {
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				background-position: center;
				background-repeat: no-repeat;
			}
			.outer {
				background-image: url(outer.png);
				transform: translate(-5px, -12px);
			}
			.middle {
				background-image: url(middle.1.png);
				transform: translateX(-2px);
			}
			.middle::before {
				display: block;
				background-image: url(middle.2.png);
				transform: translate(5px, -4px);
				content: "";
			}
			.inner {
				background-image: url(inner.png);
				transform: translate(-5px, 4px);
			}
			.satellite-orbit {
				position: absolute;
				top: 120px;
				left: -50px;
				width: 400px;
				height: 60px;
				border: 1px solid fade(white, 50%);
				border-radius: 50%;
				transform: rotate(-10deg);
			}
			.satellite-wrapper {
				position: absolute;
				top: 30px;
				left: 200px;
				animation: satellite 10s linear infinite;
			}
			.satellite {
				> .title {
					text-transform: uppercase;
					&::before {
						float: left;
						width: 10px;
						height: 10px;
						margin-right: 1em;
						background-color: white;
						transform: translate(5px, 5px) rotate(45deg);
						content: "";
					}
				}
				> .cn-title {
					font-size: 1.5em;
					margin-left: -0.5em;
					&::after {
						display: inline-block;
						vertical-align: middle;
						margin-left: 0.5em;
						content: url(title-mark.png);
					}
				}
			}
			.words {
				position: absolute;
				top: 60px;
				left: 60px;
				width: 180px;
				height: 180px;
				background-size: 100%;
				.software & {
					transform: translate(5px, 9px);
					background-image: url(software/words.png);
				}
				.design & {
					transform: translate(3px, 3px);
					background-image: url(design/words.png);
				}
				.marketing & {
					transform: translate(-3px, 2px);
					background-image: url(marketing/words.png);
				}
			}
		}
	}
	
	@keyframes satellite {
		from {
			transform: scaleY(0.15) rotate(0deg) translateX(200px) rotate(0) scaleY(1/0.15) rotate(10deg) translate(-18px, -3px);
		}
		to {
			transform: scaleY(0.15) rotate(360deg) translateX(200px) rotate(-360deg) scaleY(1/0.15) rotate(10deg) translate(-18px, -3px);
		}
	}
</style>