<template>
  <section id="departments">
    <div
        v-for="department in sorted"
        :key="department.title"
        class="position"
        :class="[department.title]">
      <div
          class="position-inner"
          @click="!clickBanned && show(department)"
          :ref="department.title">
        <department
            :name="department.title"
            :cn-name="department.cnName"
            :responsibilities="department.responsibilities"
            :expand="!!expand"></department>
      </div>
    </div>
    <span class="arrow left" @click="left" v-show="expand"></span>
    <span class="arrow right" @click="right" v-show="expand"></span>
  </section>
</template>

<script>
  import Department from "./department";
  import departments from "./department.json";

  export default {
    name: "departments",
    data() {
      return {
        departments,
        expand: false,
        clickBanned: false
      };
    },
    computed: {
      sorted() {
        return this.departments.slice().sort((x, y) => x.index - y.index);
      }
    },
    methods: {
      async reset(duration = 0) {
        const Velocity = await System.import("velocity-animate");
        await Promise.all(this.departments.map(department =>
          Velocity(
            this.$refs[department.title][0],
            {opacity: 1, ...department.position},
            {duration}
          )
        ));
      },
      async show(department) {
        this.clickBanned = true;
        const Velocity = await System.import("velocity-animate");
        await Promise.all(this.departments.map(d => {
          if (d === department) {
            return Velocity(
              this.$refs[d.title][0],
              {translateX: 0},
              {duration: 1000}
            );
          } else {
            return Velocity(
              this.$refs[d.title][0],
              {opacity: 0},
              {duration: 1000}
            );
          }
        }));
        this.expand = this.departments.indexOf(department) + 1;
      },
      async left() {
        const next = (this.expand + 1) % 3;
        this.expand = false;
        const Velocity = await System.import("velocity-animate");
        await this.reset(1000);
        await this.show(this.departments[next]);
      },
      async right() {
        const next = this.expand % 3;
        this.expand = false;
        const Velocity = await System.import("velocity-animate");
        await this.reset(1000);
        await this.show(this.departments[next]);
      }
    },
    mounted() {
      this.reset();
    },
    components: {Department}
  };
</script>

<style lang="less">
  #departments {
    position: relative;
    width: 100%;
/*    height: 400px;*/
/*    margin-top: 150px;*/
		display: table-cell;		 
    > .position {
      position: absolute;
      top: 50%;
      left: 50%;
      width: 300px;
      height: 300px;
      transform: translate(-50%, -50%);
      > .position-inner {
        width: 100%;
        height: 100%;
      }
    }
    > .arrow {
      display: block;
      position: absolute;
      top: 50%;
      width: 60px;
      height: 60px;
      background-image: url(./arrow.png);
      background-position: center;
      background-repeat: no-repeat;
      &.left {
        left: 100px;
        transform: translateY(-50%) scaleX(-1);
      }
      &.right {
        right: 100px;
        transform: translateY(-50%);
      }
    }
  }
</style>
