<template>
	<li class="list-box">
	  <span class="index">
	  	<span class="index-box"></span>
	  	<img :src="imageSrc" v-if="imageSrc"> 
	  </span>
		<div class="order-title">{{title}}</div>
		<div class="xbox">
			<div class="inner">
				{{description}}
			</div>
		</div>
	</li>
</template>

<script>
	export default {
		name: "about-item",
		data() {
			return {
				imageSrc: ""
			};
		},
		props: {
			index: {
				type: Number,
				required: true
			},
			title: {
				type: String,
				required: true
			},
			description: {
				type: String,
				required: true
			}
		},
		async mounted() {
			this.imageSrc = await System.import(`./number-${this.index + 1}.png`);
		}
	};
</script>


<style lang="less">
	#about {
		.list-box {
			position: relative;
			padding-left: 5em;
			left: 100%;
		}
		.order-title {
			color: #333742;
			font-size: 20px;
			line-height: 1.68;
			text-transform: uppercase;
			text-indent: -9px;
		}
		.index {
			display: block;
			position: absolute;
			top: 0;
			left: 0;
			width: 4em;
			height: auto;
			line-height: 0;
		}
		.index-box {
			width: 6px;
			height: 6px;
			background-color: white;
			display: inline-block;
			line-height: 0;
			position: absolute;
			right: 100%;
			bottom: 50%;
			margin-right: 5px;
		}
	}
</style>