<template>
	<main id="about">
		<div class="left-segement">
			<div class="container">
				<div class="z-circle">
					<div class="outer">
						<div class="inner">
							<div class="last">
								<!--								<img src="~header/logo.png">									-->
							</div>
							<img src="~header/logo.png">
						</div>
					</div>
				</div>
				<canvas class="top-line-box" id="mline">
				</canvas>
			</div>
		</div>
		<div class="right-segement">
			<ul>
				<aboutItem v-for="(item, index) in aboutList" :index="index" :title="item.title" :description="item.description"></aboutItem>
			</ul>
		</div>
	</main>
</template>

<script>
	import about_data from "./about.json";
	import AboutItem from "./about-item.vue";

	export default {
		name: "about",
		data() {
			return {
				aboutList: about_data
			};
		},
		methods: {
			canvas() {

				function* app() {
					let canvasObj = document.getElementById("mline");
					let context = canvasObj.getContext("2d");
					canvasObj.height = canvasObj.offsetHeight;
					canvasObj.width = canvasObj.offsetWidth;
					//let offset = canvasObj.height/canvasObj.offsetHeight;
					let startHeight = 30;
					context.beginPath();
					context.moveTo(canvasObj.width / 2, canvasObj.height / 2);
					context.lineTo(canvasObj.width / 2 - 160, startHeight + 48);
					context.lineTo(canvasObj.width, startHeight);
					context.lineWidth = 1;
					context.strokeStyle = '#3e4756';
					context.stroke();
					yield;
					//32为点到索引图片的距离
					let offsetHeight = document.querySelector(".xbox").offsetHeight + 32;
					context.moveTo(canvasObj.width / 2, canvasObj.height / 2);
					context.lineTo(canvasObj.width, offsetHeight + startHeight);
					context.stroke();
					yield;
					context.moveTo(canvasObj.width / 2, canvasObj.height / 2);
					context.lineTo(canvasObj.width, offsetHeight * 2 + startHeight);
					context.stroke();
					yield;
					context.moveTo(canvasObj.width / 2, canvasObj.height / 2);
					context.lineTo(canvasObj.width / 2 - 80, offsetHeight * 3 + startHeight - 48);
					context.lineTo(canvasObj.width, offsetHeight * 3 + startHeight);
					context.stroke();
				}
				let iterator = app();
				return iterator;
			}
		},
		mounted() {
//			let canvas = this.canvas();
//			canvas.next();
//			canvas.next();
//			canvas.next();
//			canvas.next();					
		},
		components: {
			AboutItem
		}
	};
</script>

<style lang="less">
	#about {
		width: 1024px;
		margin: 0 auto;
		.left-segement {
			position: absolute;
			width: 100%;
			height: 100%;
			padding-right: 434px;
			.container {
				display: flex;
				height: 100%;
				width: 100%;
				justify-content: center;
				align-items: center;
				position: relative;
				/*
			position: absolute;
			left: 25%;
			top: 0;				
*/
			}
		}
		.right-segement {
			float: right;
		}
	}
	
	.top-line-box {
		width: 100%;
		height: 100%;
		/*		border: solid 1px #fff;*/
		position: absolute;
		top: 0;
		right: 0;
	}
	/*
	.bottom-line-box {
		width: 50%;
		height: 50%;
		border: solid 1px #fff;
		position: absolute;
		bottom: 0;
		right: 0;				
	}
*/
	
	#about {
		.list-box {
			width: 420px;
		}
	}
</style>