html,body {
    width: 100%;
    height: 100%
}

body {
	min-width: 1080px;
	background-color: #000 !important;
}

.clearfix {
    &:before,
    &:after {
        display: table;
        content: "";
    }
    &:after {
        clear: both;
    }
}

main {
	.clearfix();
	position: relative;
}

.wrapper {
    height: 100%;
    width: 100%;
    position: relative;
//    overflow: hidden;
}

.pages {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1
}

.page {
    //overflow: hidden;
    position: relative;
    width: 100%;
    min-height: 100%;	
}

@keyframes rotate {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes inverse-rotate {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(-360deg);
  }
}

	.xbox:before {
		position: absolute;
		content: "";
		height: 100%;
		width: 9px;
		right: 100%;
		top: 0;
	  background-image:url(../images/border_left.png);		
		background-position: center center;
		display: inline-block;
		background-repeat: no-repeat;
		background-size: 9px 100%;
		
	}
	.xbox:after {
		position: absolute;
		content: "";
		height: 100%;
		width: 9px;
		left: 100%;
		top: 0;
	  background-image:url(../images/border_right.png);		
		background-position: center center;
		display: inline-block;
		background-repeat: no-repeat;
		background-size: 9px 100%;
	}	

	.border() {
		  display: inline-block;			
			background-image:url(../images/border.png);		
			background-position: center center;		
			background-repeat: no-repeat;	
			background-size: 100% 1px;				
	}

	.xbox {
			margin: 0 auto;
			position: relative;
			padding: 10px;		
		> .inner {
			width: 100%;
			height: 100%;
			background: url(../images/box_background.png);	
		  background-repeat: repeat;		
		  border-radius: 4px;			
			position: relative;
			padding: 10px;
			font-size: 12px;
			line-height: 1.4286;
			&:after {
				content: "";			
				height: 1px;
				width: 100%;
	/*			background-color: #33353b;*/
				position: absolute;
				bottom: 100%;		
				left: 0;
				margin-bottom: 9px;
				.border();
			}
			&:before {
				content: "";
				height: 1px;
				width: 100%;
	/*			background-color: #33353b;*/
				position: absolute;
				top: 100%;
				left: 0;
				margin-top: 9px;			
				.border();		
			}			
		}
	}

/*
@-webkit-keyframes infinite {
    0% {
        transform: rotate(0deg)
    }
    100% {
        transform: rotate(359deg)
    }
}
*/

@keyframes infinite {
    0% {
        transform: rotate(0deg)
    }
    100% {
        transform: rotate(359deg)
    }
}   

.infinite() {
    animation: infinite 2s infinite linear
}

.infinite_fast () {
    animation: infinite 1.4s infinite linear;
}

.infinite_slow () {
    animation: infinite 3s infinite linear;
}

.pull-left {
	float: left;
}
.pull-right {
	float: right;
}
.z-circle {
	position: relative;
	z-index: 200;
	.outer {
		background-image: url(../images/circle/out1.png);
		width: 204px;
		height: 204px;
		text-align: center;
		line-height: 204px;
		vertical-align: middle;
		position: relative;
		z-index: 210;
		&:after {
			content: "";
			width: 100%;
			height: 100%;
			background-image: url(../images/circle/out1_active.png);
			position: absolute;
			display: block;
			top: 0;
			left: 0;
			.infinite();
		}		
		
		&:before {
			content: "";
			background-image: url(../images/circle/out2.png);
			width: 256px;
			height: 256px;
		  background-size: contain;	
			position: absolute;
			display: block;
		  left: -26px;
			top: -26px;
			.infinite_fast();
		}
	}
	.inner {
		width: 136px;
		height: 136px;
		display: inline-block;
		background-image: url(../images/circle/inner1.png);
		background-size: contain;		
		text-align: center;
		line-height: 136px;	
		position: relative;
		vertical-align: middle;	
		z-index: 200;		
		&:before {
			content: "";
			position: absolute;
		  background-image: url(../images/circle/inner2.png);
			left: -12px;
			top: -12px;
			height: 160px;
			width: 160px;	
    	display: block;	
		  .infinite_slow();			
		}
		img {
			vertical-align: middle;		
			width: 68%;
			height: auto;	
			position: relative;
			z-index: 200;
		}		
	}
	.last {
		height: 80px;
		width: 80px;
		top: 50%;
		left: 50%;
		margin-left: -40px;
		margin-top: -40px;
		position: absolute;
		border-radius: 50%;
		background-color: #000;
	}
	.xcirlce {
		background-image: url(../images/circle/inner.png);
		width: 60px;
		height: 60px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -30px;
    margin-top: -30px;		
	}	
}

.sample_circle {
	.xcirlce {
		background-image: url(../images/circle/inner.png);
		width: 60px;
		height: 60px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -30px;
    margin-top: -30px;		
	}
	.outer {
		position: relative;
		width: 204px;
		height: 204px;
		text-align: center;
		line-height: 204px;
		vertical-align: middle;	
		z-index: 200;
		&:before {
			content: "";
			background-image: url(../images/circle/out1_active.png);
			width: 100%;
			height: 100%;
		  background-size: contain;	
			position: absolute;
			display: block;
		  left: 0;
			top: 0;
			.infinite_fast();
		}		
	}
	.inner {
		width: 136px;
		height: 136px;
		display: inline-block;
		background-image: url(../images/circle/inner1.png);
		background-size: contain;		
		text-align: center;
		line-height: 136px;	
		position: relative;
		z-index: 200;
		&:before {
			content: "";
			position: absolute;
		  background-image: url(../images/circle/inner2.png);
			left: -12px;
			top: -12px;
			height: 160px;
			width: 160px;	
    	display: block;	
		  .infinite_slow();			
		}
		img {
			vertical-align: middle;		
//			width: 68%;
			height: auto;	
			position: relative;
			z-index: 100			
		}				
	}
	
}

.job-header {
	position: relative;
}

.joinus-list {
	position: absolute;
	right: 10px;
	bottom: 10px;
	li {
		float: left;
		margin-left: 18px;	
		background-color: #fff;
		width: 8px;
		height: 8px;
		border-radius: 50%;
		&.active {
			visibility: hidden;
			position: relative;
			&:after {
				visibility:visible;
				position: absolute;
				content: "";
				display: inline-block;
				left: -4px;
				top: -4px;
				height: 16px;
				width: 16px;
				background-image: url(~images/arrow_active.png);
				background-size: contain;
			}
		}
	}
}

.text-center {
	text-align: center;
}

.copyright {
	margin-top: -40px;
	font-size: 14px;
}