html {
    font-size: 100%;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

body {
    margin: 0;
    background-color: #ffffff;
    font-family: "Microsoft Yahei UI", "Microsoft Yahei", SimSun, sans-serif;
}
        
* {
  box-sizing: border-box;    
}

ul,
ol {
    margin: 0;
    padding: 0;
    list-style: none;
}

ul li,
ol li {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
  text-decoration: none;
}

a,
a:link,
a:visited,
a:hover,
a:active {
    color: inherit;
}

img {
    border: 0;
    max-width: 100%;
    -ms-interpolation-mode: bicubic;
}


