<template>
  <li class="moon">
    <div class="moon-outer"></div>
    <div class="moon-middle"></div>
    <div class="moon-inner"></div>
    <div class="moon-detail">
      <div class="detail-title-en">{{enTitle}}</div>
      <div class="detail-title-cn">{{cnTitle}}</div>
      <div v-for="d in description" class="detail-description">{{d}}</div>
    </div>
  </li>
</template>

<script>
  export default {
    name: "moon",
    props: {
      enTitle: {type: String, required: true},
      cnTitle: {type: String, required: true},
      description: {type: Array, required: true}
    }
  };
</script>

<style lang="less">
  .moon {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 80px;
    height: 80px;
    margin-top: -40px;
    margin-left: -40px;
    animation-duration: 20s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    &:nth-child(1) {
      animation-name: moon;
    }
    &:nth-child(2) {
      animation-name: moon2;
    }
    &:nth-child(3) {
      animation-name: moon3;
    }
    &:nth-child(4) {
      animation-name: moon4;
    }

    &::before {
      display: block;
      position: absolute;
      top: 50px;
      left: 50px;
      width: 30px;
      height: 1px;
      background-color: white;
      transform: skewY(45deg);
      transform-origin: top left;
      content: "";
    }

    > .moon-outer {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-image: url(outer.png);
      background-position: center;
      background-repeat: no-repeat;
      animation: moon-outer 4s linear infinite;
    }

    > .moon-middle {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-image: url(middle.png);
      background-position: center;
      background-repeat: no-repeat;
    }

    > .moon-detail {
      width: 400px;
      margin-top: 50px;
      margin-left: 110px;
      font-size: 12px;
    }

    .detail-title-en {
      text-transform: uppercase;
    }
  }

  @keyframes moon {
    from {
      transform: rotate(0deg) translateX(250px) rotate(0deg);
    }
    to {
      transform: rotate(360deg) translateX(250px) rotate(-360deg);
    }
  }

  @keyframes moon2 {
    from {
      transform: rotate(120deg) translateX(250px) rotate(-120deg);
    }
    to {
      transform: rotate(480deg) translateX(250px) rotate(-480deg);
    }
  }

  @keyframes moon3 {
    from {
      transform: rotate(240deg) translateX(250px) rotate(-240deg);
    }
    to {
      transform: rotate(600deg) translateX(250px) rotate(-600deg);
    }
  }

  @keyframes moon4 {
    from {
      transform: rotate(60deg) translateX(250px) rotate(-60deg);
    }
    to {
      transform: rotate(420deg) translateX(250px) rotate(-420deg);
    }
  }

  @keyframes moon-outer {
    from {
      transform: rotate(0) translate(-4px, -3px);
    }
    to {
      transform: rotate(360deg) translate(-4px, -3px);
    }
  }
</style>
