<template>
	<div class="wrapper" id="app">
		<div class="pages loader" v-if="loading">
		  	<div class="z-circle">
		  		<div class="outer">
						<div class="inner">							
								<img src="~header/logo.png">									 		  			
						</div> 		  			
		  		</div>		
		  	</div>
		</div>
		<div class="pages" id="fullpage" :class="{'loading':!loading}">
			<section class="page" data-id="1">
				<AppHeader></AppHeader>
				<Departments></Departments>
			</section>
			<section class="page" data-id="2">
				<div class="title">
					<img src="./images/font_about.png" alt="">
				</div>
				<AboutUs ref="aboutus"></AboutUs>
				<!-- 第二屏 -->
			</section>
			<section class="page" data-id="3">
				<div class="title">
					<img src="./images/font_research.png" alt="">
				</div>
				<Research></Research>
				<!-- 第三屏 -->
			</section>
			<!-- 加入我们 -->
			<section class="page" data-id="4">
				<div class="title">
					<img src="./images/font_join.png" alt="">
				</div>
				<JoinUs></JoinUs>
				<!-- 第四屏 -->
			</section>
			<!-- 联系我们 -->
			<section class="page" data-id="5">
				<div class="title">
					<img src="./images/font_contact.png" alt="">
				</div>
				<ContactUs></ContactUs>
			</section>
		</div>
		<!--
		<div id="sidebar">
			<ul>
				<li :class="{'active':active == index}" @click="move(index)" v-for="(index,item) in menu">
					<span></span>
				</li>
			</ul>
		</div>
	  -->
	</div>
</template>

<script>
	import "styles/reset.less";
	import "styles/common.less";

	import JoinUs from "join-us";
	import ContactUs from "contact-us";
	import Departments from "departments";

	import AppHeader from "header";
	import AboutUs from "about-us";
	import Research from "research-findings"

	export default {
		data() {
				return {
					menu: [
					1, 2, 3, 4, 5
				  ],
					active: 1,
					loading: true
				};
			},
			components: {
				AppHeader, Departments, AboutUs, JoinUs, ContactUs, Research
			},
			methods: {
				move(index) {
					fullpage.moveTo(index);
				}
			},
			async mounted() {
				let self = this;
				let links = document.querySelectorAll(".nav-link");
				let scrollToTop = async(target) => {
						const Velocity = await System.import("velocity-animate");
						let html = document.querySelector("html");
						function hasClass(className,node){
										let classNames = node.className.split(/\s+/);
										for(let i = 0; i < classNames.length; i++){
												if(classNames[i] == className){
														return true;
												}
										}
										return false;
						} 	
						if(hasClass('velocity-animating',html)) {
							return false;
						}
						await Velocity(html, 'scroll', {
							duration: 750,
							offset: target.offsetTop
						});
					}
					//＝>关于我们
				links[0].addEventListener("click", function () {
						let target = document.querySelector("section[data-id='2']");
						scrollToTop(target);
					})
					//=>研究成果
				links[1].addEventListener("click", function () {
						let target = document.querySelector("section[data-id='3']");
						scrollToTop(target);
					})
					//=>加入我们		
				links[2].addEventListener("click", function () {
					let target = document.querySelector("section[data-id='4']");
					scrollToTop(target);
				})

				await System.import("./script/noframework.waypoints.js");
				let pages = document.querySelectorAll(".page");
				pages.forEach(object => {
					//关于我们
					if (object.getAttribute("data-id") == 2) {
						new Waypoint({
							element: object,
							handler: async function (direction) {

								const Velocity = await System.import("velocity-animate");
								let list = document.querySelectorAll(".list-box");
			
								if(list[0].style.lef&&(list[0].style.left==0||list[0].style.left=='0px')) {
										return false;
								}
								let canvas = self.$refs.aboutus.canvas();	
							
								await Velocity(list[0], {
									left: "0",
									duration: 400,
									easing: "swing"
								})
								await canvas.next()
								await Velocity(list[1], {
									left: "0",
									duration: 400,
									easing: "swing"
								})
								await canvas.next()								
								await Velocity(list[2], {
									left: "0",
									duration: 400,
									easing: "swing"
								})
								await canvas.next()								
								await Velocity(list[3], {
									left: "0",
									duration: 400,
									easing: "swing"
								})	
								await canvas.next()									
							},
							offset: 0
						});
						/*	
								new Waypoint({
									element: object,
									handler: async function (direction) {
										 const Velocity = await System.import("velocity-animate");								
										 let list = document.querySelectorAll(".list-box");
										 Velocity(list,{left:"100%"})
									},
									offset: function() {
										return -this.adapter.outerHeight()
									}
								});
						*/
					}

					new Waypoint({
						element: object,
						handler: function (direction) {
							if (direction == 'down') {
									scrollToTop(this.element)						
							}
						},
						offset: '70%'
					});
					new Waypoint({
						element: object,
						handler: async function (direction) {
							if (direction == 'up') {
								let next = object.getAttribute("data-id") - 1;
								let nextDom = document.querySelector("section[data-id='" + next + "']");
								if (nextDom) {
									scrollToTop(nextDom);	
								}
							}
						},
						offset: '30%'
					});

				})
				
				this.loading = false;
			}
	};
</script>

<style lang="less">
	
	.pages.loader {
			position: relative;	
			z-index: 200;
			justify-content: center;
			align-items: center;
			display: flex;		
	}
	#fullpage {
		  visibility: hidden;		
	}
	.pages.loading {
		  visibility: visible !important;
	}	
	body {
		color: #f0f0f0;
	}	
	section {
		background-size: cover;
		background-position: center center;
		background-attachment: fixed;
		background-repeat: no-repeat;
		padding: 32px 0;
	}
	
	section[data-id="1"] {
		background-image: url(./images/background_top.jpg);
		background-size: cover;
		background-position: center top;
		display: table;
		padding-top: 100px;
	}
	
	section[data-id="2"] {
		background-image: url(./images/bg2.jpg);
	}
	
	section[data-id="3"] {
		background-image: url(./images/bg3.jpg);
	}
	
	section[data-id="4"] {
		background-image: url(./images/bg4.jpg);
	}
	
	section[data-id="5"] {
		background-image: url(./images/background_bottom.jpg);
		background-size: cover;
		background-position: center bottom;
	}
	
	header.header,
	#header {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
	}
	
	.page>.title {
		text-align: center;
		margin-bottom: 12px;
		line-height: 0;
		transform: scale(0.7, 0.7);
	}
	
	#sidebar {
		position: absolute;
		left: 50%;
		top: 50%;
		margin-left: 512px;
		/*1024px*/
		margin-top: -70px;
		z-index: 20;
		border-left: solid 1px #414d60;
		/*32-12*/
		ul {
			margin-bottom: -20px;
		}
		ul>li {
			width: 28px;
			height: 28px;
			background-repeat: no-repeat;
			margin-left: -14px;
			text-align: center;
			&.active {
				background-image: url(./images/eye.png);
				background-position: top center;
				> span {
					visibility: hidden;
				}
			}
			>span {
				cursor: pointer;
				border-radius: 50%;
				height: 12px;
				width: 12px;
				background-color: #414d60;
				display: inline-block;
				vertical-align: top;
			}
		}
	}
	
	#join-us {
		width: 680px;
		margin: 0 auto;
	}
	
	#contact-us {
		width: 1024px;
		margin: 0 auto
	}
	
	#departments {
		transform: scale(0.8, 0.8);
	}
	
	#contact-us {
		transform: scale(0.7, 0.7);
	}
	
	#contact-us {
		margin-top: -100px;
	}
	
	.department .planet {
		cursor: pointer;
	}
	/*
	.department .planet:hover {		
    position:relative;
    bottom:7px;		
		transform:scale(1.1,1.1);
	}
*/
</style>