<template>
	<main>
		<div id="contact-us">
			<ul class="information-list container clearfix">
				<li class="information-item">
					<img src="./address.png" class="image">
					<div class="title">
						<div class="cn">联系地址</div>
						<div class="en">Contact address</div>
					</div>
					<div class="detail">上海市长宁区延安西路1612号</div>
				</li>
				<li class="information-item">
					<img src="./hotline.png" class="image">
					<div class="title">
						<div class="cn">联系客服</div>
						<div class="en">Service hotline</div>
					</div>
					<div class="detail">400-118-8086</div>
				</li>
				<li class="information-item">
					<img src="./address.png" class="image">
					<div class="title">
						<div class="cn">电子邮件</div>
						<div class="en">E-mail</div>
					</div>
					<div class="detail">
						销售&emsp;sales@ebeijia.com
						<br> 客服&emsp;service@ebeijia.com
						<br> 伙伴&emsp;partner@ebeijia.com
					</div>
				</li>
			</ul>
			<img src="./map.png" class="map">
		</div>
		<div class="text-center copyright">
			&copy;&nbsp;Copyright Reserved 2016-2018&nbsp;&nbsp;&nbsp;沪ICP备08104990号
		</div>
	</main>
</template>

<script>
	export default {
		name: "contact-us"
	};
</script>

<style lang="less">
	.information-item {
		float: left;
		width: 100% / 3;
		> .image,
		> .title,
		> .detail {
			margin-left: auto;
			margin-right: auto;
		}
		> .image {
			display: block;
		}
		> .title,
		> .detail {
			text-align: center;
		}
		> .title > .en {
			font-size: 12px;
		}
		> .detail {
			margin-top: 1em;
			line-height: 2;
		}
	}	
	.map {
		display: block;
		margin-left: auto;
		margin-right: auto;
	}
</style>