<template>
  <div class="achievement">
    <div class="achievement-detail-pagination">
     	<div class="clearfix">
				Pagination
				<img src="./arrow-right.png" class="arrow-right">
				<div class="pull-right">
					<ul>
					<li
							v-for="n in list.length"
							class="achievement-detail-pagination-item"
							:class="{current: n - 1 === index}"
							@mouseover="index = n - 1"></li>
					</ul>
				</div>     		
     	</div>
    </div>
    <div class="achievement-icon-wrapper">
     	<div class="sample_circle">
     		<div class="outer">
					<div class="inner">
						<div class="xcirlce"></div>
						<img class="achievement-icon" :src="iconSrc" v-if="iconSrc">     			
					</div>     			
     		</div>
     	</div>
    </div>
    <div class="achievement-detail-wrapper">
      <div
          v-for="(item, i) in list"
          class="achievement-detail"
          v-show="i === index">
        <div class="achievement-detail-title">{{item.title}}</div>
        <div
            v-for="paragraph in item.description"
            class="achievement-detail-list">
          <p class="paragraph">
            <template v-if="isArray(paragraph)">
              <template v-for="(p, j) in paragraph">
                <template v-if="j > 0"><br></template>
                {{p}}
              </template>
            </template>
            <template v-else>{{paragraph}}</template>
          </p>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  export default {
    name: "achievement",
    data() {
      return {
        index: 0,
        iconSrc: ""
      };
    },
    props: {
      parentIndex: {type: Number, required: true},
      list: {type: Array, required: true}
    },
    methods: {
      isArray: Array.isArray,
      async switchIcon() {
        this.iconSrc = await System.import(`./icons/${this.parentIndex + 1}-${this.index + 1}.png`);
      }
    },
    watch: {
      index() {
        this.switchIcon();
      }
    },
    mounted() {
      this.switchIcon();
    }
  };
</script>

<style lang="less">
	 .achievement-detail-pagination {
		 border-top:solid 1px #3e4756;
	 }
	 .achievement-detail-pagination >.clearfix {
		 margin-top:-12px;
	 }	
  .pull-right {
    float: right;
  }
  .achievement-detail-pagination {
    margin-bottom: 2em;
    .arrow-right {
      vertical-align: middle;
    }
  }
  .achievement-detail-pagination-item {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin-left: 20px;
    border-radius: 50%;
    background-color: gray;
    vertical-align: middle;
    cursor: pointer;
    &.current {
      background-color: white;
    }
  }
  .achievement-icon-wrapper {
    float: left;
    display: flex;
    width: 150px;
    height: 300px;
    justify-content: center;
    align-items: center;
  }
  .achievement-detail-wrapper {
    float: right;
    display: flex;
    width: 350px;
    height: 300px;
    align-items: center;
  }
  .achievement-detail .paragraph {
    margin-top: 1em;
    margin-bottom: 1em;
  }
  .achievement-detail-title {
    font-size: 16px;
  }
  .achievement-detail-list {
    font-size: 12px;
  }
</style>
