<template>
  <section id="research-findings">
    <div class="container clearfix">
      <div v-for="(achievement, i) in achievementList" v-show="i === index">
        <div class="achievement-title">{{achievement.title}}</div>
        <div class="achievement-introduction">{{achievement.introduction}}</div>
      </div>
      <div class="achievements-list">
        <achievement
            v-for="(achievement, i) in achievementList"
            :key="achievement.title"
            :parent-index="i"
            :list="achievement.list"
            v-show="i === index"></achievement>
      </div>
      <div class="achievement-paginate">
       
		  	<div class="z-circle pull-left right-circle">
		  		<div class="outer">
						<div class="inner">					
								<!-- <div class="xcirlce"></div> -->		
								<i>DATA</i><span style="font-size:24px;margin-left:4px">0{{index+1}}</span>			
						</div> 		  			
		  		</div>		
		  	</div>
              
        <header style="
    position: relative;
">
          Achievements
          <img src="./arrow-right.png" class="arrow-down">
        </header>        
        <ul>
          <li
              v-for="n in achievementList.length"
              class="achievement-paginate-item"
              :class="{current: n - 1 === index}"
              @mouseover="index = n - 1">
            0{{n}}
            <span></span>
          </li>
        </ul>
      </div>
    </div>
  </section>
</template>

<script>
  import achievementList from "./achievement-list.json";
  import Achievement from "./achievement"

  export default {
    name: "research-findings",
    data() {
      return {
        achievementList,
        index: 0
      };
    },
    components: {Achievement}
  }
</script>

<style lang="less">
	#research-findings {
		width: 1024px;
		margin: 0 auto;
	}
  .achievement-title {
    font-size: 2em;
  }
  .achievement-introduction {
    color: #666;
    margin-bottom: 1em;
		line-height: 32px;
		height: 64px;
		overflow: hidden;
  }
  .achievements-list {
    float: left;
    width: 570px;
  }
  .achievement-paginate {
    float: left;
    width: 400px;
    margin-left: 50px;
    text-align: right;
    .arrow-down {
      vertical-align: middle;
      transform: rotate(90deg);
    }
  }
  .achievement-paginate-item {
/*    line-height: 3;*/
		margin-bottom: 42px;
    cursor: pointer;
    color: gray;
		font-size: 14px;
    &.current {
      color: #f0f0f0;

			> span {
				display: none;	
			}				
			&:after {
				content: "";
				display: inline-block;
				width: 16px;
				height: 16px;
				background-image: url(../app/images/eye.png);
				background-position: top center;
				background-repeat: no-repeat;	
				background-size: contain;
				position: relative;
				top: 2px;
			}	
    }
		span {
			display: block;
			cursor: pointer;
			border-radius: 50%;
			height: 12px;
			width: 12px;
			background-color: #414d60;
			display: inline-block;
/*			vertical-align: top;			*/
		}
  }
	.achievement-paginate .right-circle {
		position: relative;
		top: 68px;
	}
	.achievement-paginate ul {
		padding-top: 70px;
		padding-left: 70px;
		margin-top: -8px;
/*		background-color: #fff;*/
		background-image: url(./line.png);	
		background-repeat: no-repeat;
		background-size: 80%;
		display: inline-block;
	}	
	.achievement-paginate ul li { 
	  position: relative;		
		&:nth-child(1) {
			right: 63px;			
		}
		&:nth-child(2) {
			right: 22px;			
		}		
		&:nth-child(3) {
			right: 38px;
		}
		&:nth-child(4) {
			right: 58px;
		}
		&:last-child {
			margin-bottom: 0;
		}
	}
	
	.achievement-detail-pagination-item {
		&.current {
			visibility: hidden;
			position: relative;
			&:after {
				content: "";
				display: inline-block;
				width: 14px;
				height: 14px;
				background-image: url(../app/images/eye.png);
				background-position: top center;
				background-repeat: no-repeat;	
				background-size: contain;
				position: absolute;
				top: -2px;		
				left: -2px;
				visibility: visible;
			}
		}
	}
</style>
