<template>
  <div id="join-us">
    <div class="container">
      <nav class="clearfix">
        <img class="job-banner" src="./jobs/java.png" v-if="index !== 0" @mouseover="index = 0">
        <img class="job-banner" src="./jobs/java-active.png" v-else>
        <img class="job-banner" src="./jobs/front-end.png" v-if="index !== 1" @mouseover="index = 1">
        <img class="job-banner" src="./jobs/front-end-active.png" v-else>
        <img class="job-banner" src="./jobs/ui.png" v-if="index !== 2" @mouseover="index = 2">
        <img class="job-banner" src="./jobs/ui-active.png" v-else>
        <img class="job-banner" src="./jobs/operation.png" v-if="index !== 3" @mouseover="index = 3">
        <img class="job-banner" src="./jobs/operation-active.png" v-else>
        <img class="job-banner" src="./jobs/copywriter.png" v-if="index !== 4" @mouseover="index = 4">
        <img class="job-banner" src="./jobs/copywriter-active.png" v-else>
      </nav>
      <job
          v-for="(job, i) in jobList"
          :en-title="job.enTitle"
          :cn-title="job.cnTitle"
          :description="job.description"
          :index = "i"          
          v-show="i === index"></job>
    </div>
  </div>
</template>

<script>
  import jobList from "./job.json";
  import Job from "./job";

  export default {
    name: "join-us",
    data() {
      return {
        jobList,
        index: -1
      };
    },
    mounted() {
      this.index = Math.floor(Math.random() * 5);
    },
    components: {Job}
  };
</script>

<style lang="less">
	.item-content {
		font-size: 14px;	
	}
  .job-banner {
    float: left;
    width: 20%;
    border: 1px solid black;
  }
</style>
