<template>
  <div>
    <header class="job-header">
      <div>{{enSmall}}</div>
      <div class="large">{{enLarge}}</div>
      <div class="joinus-list">
      	<ul>
      		<li :class="{active:index === 0}"></li>
      		<li :class="{active:index === 1}"></li>
      		<li :class="{active:index === 2}"></li>
      		<li :class="{active:index === 3}"></li>
      		<li :class="{active:index === 4}"></li>
      	</ul>
      </div>
    </header>    
    <div class="job-description-wrapper xbox">
      <div class="inner">
      <div class="clearfix">
        <div class="position">
          <div class="item-title">POSITION</div>
          <div class="item-content">{{cnTitle}}</div>
        </div>
        <div class="email">
          <div class="item-title">EMAIL</div>
          <div class="item-content">zhaopin@ebeijia.com</div>
        </div>
        <div class="phone">
          <div class="item-title">PHONE</div>
          <div class="item-content">021-52833062</div>
        </div>
      </div>
      <div class="description">
        <div class="item-title">JOB DESCRIPTION</div>
        <div class="item-content">{{description}}</div>
      </div>      	
      </div>
    </div>
  </div>
</template>

<script>
  export default {
    name: "job",
    props: {
      enTitle: {type: String, required: true},
      cnTitle: {type: String, required: true},
      description: {type: String, required: true},
			index:  {type: Number, required: true}
    },
    computed: {
      enSmall() {
        return this.enTitle.slice(0, this.enTitle.lastIndexOf(" "));
      },
      enLarge() {
        return this.enTitle.slice(this.enTitle.lastIndexOf(" ") + 1);
      }
    }
  };
</script>

<style lang="less">
  .job-header {
    margin-top: 0.75em;
    margin-bottom: 0.5em;
    font-size: 20px;
    line-height: 1.48;
    .large {
      font-size: 0.75em;
      text-transform: uppercase;
    }
  }
  .job-description-wrapper {
/*
    border: 1px solid #666;
    padding: 16px;
*/
    .item-title {
      font-size: 12px;
      color: #666;
      line-height: 1.48;
    }
    .position {
      float: left;
      margin-bottom: 1em;
    }
    .email, .phone {
      float: right;
      margin-left: 2em;
    }
  }
</style>
